body {
    background-color: rgb(100, 110, 127);   
}

h1 {
    
    color: rgb(7,7,7); 
    
}

h2 {
    
    color: rgb(7,7,7);
    
}

p {
 
    font-size: x-large;
    
}

li {
    
    font-size: x-large;
    
}

a {

    color: rgb(64, 65, 66);

}